# Banco de dados
DB_NAME=
DB_USER=
DB_PASSWORD=
DB_HOST=mysql

# Redis
REDIS_HOST=redis
REDIS_PORT=6379

# Configuração do Doctrine ORM
DOCTRINE_DB_DRIVER=pdo_mysql
DOCTRINE_DB_HOST=${DB_HOST}
DOCTRINE_DB_PORT=3306
DOCTRINE_DB_USER=${DB_USER}
DOCTRINE_DB_PASSWORD=${DB_PASSWORD}
DOCTRINE_DB_NAME=${DB_NAME}

# Session
SESSION_NAME=gestor
SESSION_COOKIE_DOMAIN=localhost
SESSION_COOKIE_HTTPONLY=On
SESSION_COOKIE_SAMESITE=Strict
SESSION_COOKIE_SECURE=On
SESSION_GC_PROBABILITY=1
SESSION_SAVE_HANDLER=redis
SESSION_SAVE_PATH="tcp://redis:6379?database=0&prefix=gestor"
SESSION_SERIALIZE_HANDLER=php
SESSION_SID_BITS_PER_CHARACTER=6
SESSION_SID_LENGTH=48
SESSION_USE_ONLY_COOKIES=On
SESSION_USE_STRICT_MODE=On
SESSION_USE_TRANS_SID=Off

#API
API_JWT_KEY=123456789